html {
  scroll-behavior: smooth;
  body {
    background-color: $colour-background;
    color: $colour-text;

    h1,
    h2 {
      color: $title-colour;
      font-weight: $font-semi-bold;
    }

    h1 {
      @media (max-width: 768px) {
        font-size: $font-size-h1;
      }
    }

    h2 {
      font-size: $font-size-big;

      @media (max-width: 768px) {
        font-size: $font-size-h2;
      }
    }

    h3 {
      font-weight: $font-medium;

      @media (max-width: 768px) {
        font-size: $font-size-h3;
      }
    }

    p,
    span {
      @media (max-width: 768px) {
        font-size: $font-size-normal;
      }
    }

    a {
      color: $colour-text;
      text-decoration: none;
    }
    .active-link {
      color: $colour-primary;
      font-weight: bold;
    }

    textarea {
      font-size: $font-normal;
    }

    ul {
      list-style-type: none;
    }

    button {
      cursor: pointer;
      border: none;
      outline: none;
      display: inline-block;
      background-color: $title-colour;
      color: $colour-background;
      padding: ($size * 0.75) ($size);
      width: auto;
      height: fit-content;
      border-radius: $size;
      -webkit-border-radius: $size;
      -moz-border-radius: $size;
      -ms-border-radius: $size;
      -o-border-radius: $size;
      font-weight: $font-medium;

      &:hover {
        background-color: $title-colour-dark;
      }
    }

    .button__icon {
      margin-left: calc($size * 0.5);
    }

    /*.button--flex{
      display: inline-flex;
      align-items: center;
    }*/

    img {
      max-width: 100%;
      height: auto;
      width: clamp(250px, 33vw, 400px);
    }

    article {
      height: 100vh;
      /// padding: 6rem 0 2rem;

      .section__heading {
        text-align: center;

        margin-bottom: calc($size * 4);

        @media (max-width: 768px) {
          margin: $size * 1.5;
        }

        .section__title {
          color: $title-colour;
        }

        .section__subtitle {
          display: block;
        }
      }

      h3,
      p {
        color: $colour-h3-p;
      }

      h3 {
        font-size: $font-size-h3;
      }
    }

    .container {
      padding: $size;
    }
  }

  body,
  button,
  input,
  textarea {
    font-family: $font-primary;
    font-size: $font-normal;
  }
}

main {
  margin: $size * 2;

  @media (max-width: 768px) {
    margin: $size;
  }
}
