body {
  background-color: $colour-background;
}

a {
  color: black;
  text-decoration: none;
}

body,
button,
input,
textarea {
  font-family: $font-primary;
}

.active-link {
  color: $colour-primary;
  font-weight: bold;
}
