@import "variables.scss";

header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;

  .navbar {
    background-color: $colour-background; /* Ajusta el color de fondo según sea necesario */
    .navbar-collapse {
      justify-content: flex-end;
      .navbar-nav {
        text-align: center;
      }
    }
  }
}