// Colours
$colour-primary: rgba(85, 50, 237, 1);
$colour-background: rgba(251, 250, 251, 1);

// Fonts
$font-primary: "Poppins", sans-serif;

// z index
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;
