@charset "UTF-8";
body {
  background-color: rgb(251, 250, 251);
}

a {
  color: black;
  text-decoration: none;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
}

.active-link {
  color: rgb(85, 50, 237);
  font-weight: bold;
}

header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header .navbar {
  background-color: rgb(251, 250, 251); /* Ajusta el color de fondo según sea necesario */
}
header .navbar .navbar-collapse {
  justify-content: flex-end;
}
header .navbar .navbar-collapse .navbar-nav {
  text-align: center;
}

#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
#home div {
  padding: 0;
}
#home #profession {
  color: rgb(85, 50, 237);
}
#home #hero-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.hero-image {
  width: clamp(250px, 33vw, 400px);
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

#home-row > .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}