.active-link {
  color: #5532ed;
  font-weight: bold;
}

.navbar {
  text-align: center;
}
.navbar .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#home-row {
  min-height: 100vh;
}