body, button, input, textarea {
  font-family: "Poppins", sans-serif;
}

.active-link {
  color: #5532ed;
  font-weight: bold;
}

.navbar {
  text-align: center;
  z-index: 10;
}
.navbar .navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
#home div {
  padding: 0;
}
#home #profession {
  color: #5532ed;
}
#home #hero-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.hero-image {
  width: clamp(250px, 33vw, 400px);
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}

#home-row > .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}